@use "../Utilitaires/variables" as *;

#aboutus {
    .titles {
        background-image: url('/assets/img/about-us/iconbgabout.png');
        background-size: 12vw auto;
        background-repeat: no-repeat;
        background-position: 86%;
    }
    &__pictext {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 5em;
        &--text {
            width: 20vw;
            p {
                margin-bottom: 2em;
            }
            a {
                padding: 1em 2.3em;
                background-color: $color-brown;
                color: white;
                border-radius: 3px;
                text-transform: uppercase;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 10px;
                font-weight: bold;
                &:hover {
                    cursor: pointer;
                    color: black;
                }
            }
        }
    }
}