@use "../Utilitaires/variables" as *;

footer {
    font-family: 'fa-regular';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/assets/img/footer/img-ng-footer.jpg');
    background-position: center;
    color: $color-white;
    width: 100vw;
    height: 100vh;
    img {
        margin-bottom: 5em;
    }
    p {
        color: grey;
    }
    ul {
        list-style: none;
        li {
            display: flex;
            flex-direction: row;
            margin: 1em 0;
            font-size: 13px;
            color: grey;
            i {
                margin-right: 1em;
            }
        }
    }
    nav {
        width: 85%;
        display: grid;
        grid-template-columns: 15% 15% 30% 25%;
        column-gap: 1em;
        margin-left: 12em;
    }
    h6 {
        text-align: left;
        font-size: 1.5em;
        font-family: 'David Libre', serif;
        font-weight: 400;
        color: white;
    }
    a {
        color: grey;
        text-decoration: none;
        &:hover {
            color: $color-brown;
        }
        &:visited {
            color: grey;
        }
    }
    i {
        color: $color-brown;
    }
    hr {
        margin: 2em 0;
        border: 1px solid rgba(160, 157, 157, 0.1);
        width: 100%;
        background-image: url('./assets/img/footer/iconup@2x.png');
    }
    small {
        display: block;
        width: 70%;
        margin-bottom: 5em;
        a {
            color: $color-brown;
            &:visited {
                color: $color-brown;
            }
            &:hover {
                color: $color-white;
                }
        }
    }
}


#hr__img {
    height: 1em;
    display: block;
    width: 70%;
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 30px;
    img {
        width: 50px;
        position: absolute;
        top: -65px;
    }
}

.nav__menu {
    input {
        padding: 1em;
    }
    button {
        width: 3em;
        height: 3.43em;
        background-color: $color-brown;
        color: white;
        border: none;
        outline: none;
        &:active {
            background-color: $color-white;
            color: $color-brown;
        }
    }
}