@use "../Utilitaires/variables" as *;

#gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .gallery__gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        #gallery__line1 {
            display: grid;
            grid-template-columns: 1.5fr 0.7fr 0.7fr;
            gap: 1.5em;
            margin-bottom: 1.5em;
        }
        #gallery__line2 {
            display: grid;
            grid-template-columns: 0.72fr 0.72fr 1.5fr;
            gap: 2em;
        }
        #gallery__gallery--fpd {
                background-image: url('../../img/gallery/img1gallerybox.jpg');
                z-index: 0;
            &:hover {
                background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../../img/gallery/img1gallerybox.jpg");
                z-index: 1;
            }
        }
        #gallery__gallery--pvt {
            background-image: url('../../img/gallery/img2gallerybox.jpg');
        &:hover {
            background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../../img/gallery/img2gallerybox.jpg");
            }
        }
        #gallery__gallery--bpp {
            background-image: url('../../img/gallery/img3gallerybox.jpg');
        &:hover {
            background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../../img/gallery/img3gallerybox.jpg");
            }
        }
        #gallery__gallery--pcr {
            background-image: url('../../img/gallery/img4gallerybox.jpg');
        &:hover {
            background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../../img/gallery/img4gallerybox.jpg");
            }
        }
        #gallery__gallery--fmb {
            background-image: url('../../img/gallery/img5gallerybox.jpg');
        &:hover {
            background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../../img/gallery/img5gallerybox.jpg");
            }
        }
        #gallery__gallery--tbj {
            background-image: url('../../img/gallery/img6gallerybox.jpg');
        &:hover {
            background-image: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), url("../../img/gallery/img6gallerybox.jpg");
            }
        }
        .gallery__gallery--item {
            height: 300px;
            color: rgba(255,255,255,0);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-position: center;
            background-size: cover;
            word-wrap: break-word;
            text-align: center;
            &:hover {
                color: white;
            }
            &-name {
                font-family: 'Cormorant Garamond', sans-serif;
                font-size: 24px;
            }
            &-desc {
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 13px;
            }
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin: 2em 0;
        padding: 0.5em 2em;
        height: 2.5em;
        border-radius: 10px;
        text-decoration: none;
        &:visited {
            color: black;
        }
        &:hover {
            background-color: $color-brown;
            color: white;
        }
    }
}

