header{
    background-image: url(/assets/img/slider/img_bg_slider_home01.jpg);
    height: 100%;
    width: 100%;

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        

        ul{
            color: #efe5e5;
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            margin-left: 200px;

        li {
            list-style-type: none;
            margin: 0 1em;
            color: #fdf7f7;
            display: flex;
            margin-left: 30px;
            

        p {
            color: rgb(241, 239, 239);
            display: flex;
            font-size: 30px;
            margin-left: 15%;
            margin-top: 20%;
        img{
            margin-top: 70px;
            margin-left: 80px;

        fa-solid {
            color: #b68c5a;
            position: relative;
            top: 1rem;
            right: -37rem;
}
}
}
}
}
}
}
.logo-one{
    margin-top: 50px;
    margin-left: 50px;
}

.best{
    color: rgb(237, 240, 243);
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;
    
}


.logo-two{
    width: 150px;
    height: 150px;
    margin-left: 550px;
    position: relative;
    top: -26rem;
    
}

.home {
    color: #b68c5a;
}



#book{
        background-color: #b68c5a;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
}

#explore{
    background-color: #b68c5a;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        position: relative;
        top: -3rem;
        right: 31rem;
        text-transform: uppercase;
        border-radius: 10px;
    
}
.tel{
    color: #f5eded;
    position: relative;
    top: 1rem;
    right: -37rem;
    font-weight: 100;
    
}

