header{
    background-image: url(/assets/img/slider/img_bg_slider_home01.jpg);
    height: 100%;
    width: 100%;

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-top: 30px;

        ul{
            color: #efe5e5;
            display: flex;
            flex-direction: row;
            margin-top: 30px;
            margin-left: 50%;

        li {
            list-style-type: none;
            margin: 0 1em;
            color: #efe5e5;
            display: flex;
            margin-left: 100px;

        p {
                color: rgb(199, 191, 191);
                display: flex;
                font-size: 30px;
                margin-left: 15%;
                margin-top: 20%;
}
}
}
}
}

img{
    margin-top: 70px;
    margin-left: 80px;
}

#logo-two{
    width: 150px;
    height: 150px;
    
}
.home {
    color: #b68c5a;
}


h1{
    color: rgb(232, 235, 238);
    margin-left: 200px;
    margin-top: 100px;
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;

}

#book{
        color: #dbcaca;
        border: 1px solid #e5ede5;
        width: 120px;
        height: 20px;
        border-radius: 30px;
        text-justify: none;
        font-size: 1em;
        margin-left: 70%;
}

#explore{
    color: #ebe1e1;
    border: 1px solid #e5ede5;
    width: 120px;
    height: 20px;
    border-radius: 30px;
    text-justify: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
    
}

