#ourchefs {
    background-image: url('../../img/our-chefs/imgbg-ourchefs.jpg');
    background-position: left top;
    height: 100vh;
    .titles {
        h2 {
            color: #090909;
        }
        h3, h4 {
            color: white;
        }
    }
    .ourchefs__chefs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}