/* Error: expected "{".
 *     ,
 * 131 | >>>>>>> 64d247f9ccfccead0948cbc0398a579770d79eda
 *     |                                                 ^
 *     '
 *   assets\Style\SASS\Layout\_header.scss 131:49  @forward
 *   assets\Style\SASS\main.scss 3:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 131 \2502  >>>>>>> 64d247f9ccfccead0948cbc0398a579770d79eda\d\a     \2502                                                  ^\a     \2575 \a   assets\\Style\\SASS\\Layout\\_header.scss 131:49  @forward\a   assets\\Style\\SASS\\main.scss 3:1               root stylesheet';
}
